@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

.theme-toggle-wrapper {
  display: inline-block;
}

.theme-toggle-input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.theme-toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 25px;
  background: #211042;
  border-radius: 12.5px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 1.5px;
  left: 1.5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #FFFFF9;
  width: 22px;
  height: 22px;
  left: 2.5px;
  bottom: 2.5px;
}

.crater-2 {
  width: 5px;
  height: 5px;
  top: -2px;
  left: 11px;
}

.crater-3 {
  width: 4px;
  height: 4px;
  top: 5px;
  right: -1px;
}

.crater-4 {
  width: 2.5px;
  height: 2.5px;
  top: 6px;
  left: 7.5px;
}

.crater-5 {
  width: 4px;
  height: 4px;
  top: 10px;
  left: 12px;
}

.crater-6 {
  width: 2.5px;
  height: 2.5px;
  top: 12px;
  left: 5px;
}

.crater-7 {
  width: 3px;
  height: 3px;
  bottom: 1.5px;
  left: 9px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255, 0.4);
}

.star-1 {
  width: 1.5px;
  height: 1.5px;
  right: 22px;
  bottom: 10px;
}

.star-2 {
  width: 2px;
  height: 2px;
  right: 17px;
  top: 2.5px;
}

.star-3 {
  width: 1.5px;
  height: 1.5px;
  right: 15px;
  bottom: 4px;
}

.star-4 {
  width: 1px;
  height: 1px;
  right: 10px;
  bottom: 12px;
}

.star-5 {
  width: 1px;
  height: 1px;
  right: 2.5px;
  bottom: 9px;
}

.star-6, .star-7, .star-8 {
  width: 2.5px;
  height: 0.5px;
  border-radius: 0.5px;
  transform: rotate(-45deg);
  box-shadow: 1.5px 0px 1px 0.5px #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 7px;
  bottom: 7px;
  animation-delay: -2s;
}

.star-7 {
  right: 12px;
  bottom: 15px;
}

.star-8 {
  right: 22px;
  top: 2.5px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(17px);
  }

  50% {
    transform: rotate(-45deg) translateX(-5px);
    box-shadow: 1.5px 0px 1.5px 0.5px #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(-7px);
    width: 0.5px;
    height: 0.5px;
    opacity: 0;
    box-shadow: none;
  }
}

.theme-toggle-input:checked + .theme-toggle {
  background: #24D7F7;
}

.theme-toggle-input:checked + .theme-toggle .toggle-button {
  background: #F7FFFF;
  transform: translateX(26px);
  box-shadow: 0 0 10px 1.5px rgba(255, 255, 255, 0.4);
}

.theme-toggle-input:checked + .theme-toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(17px);
}

.theme-toggle-input:checked + .theme-toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

.theme-toggle-input:checked + .theme-toggle .star-1 {
  width: 10px;
  height: 2.5px;
  border-radius: 2.5px;
  background: #FFF;
  left: 5px;
  top: 6.5px;
  box-shadow: none;
}

.theme-toggle-input:checked + .theme-toggle .star-2 {
  width: 3px;
  height: 3px;
  background: #FFF;
  left: 6.5px;
  top: 6px;
  box-shadow: -0.5px 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

.theme-toggle-input:checked + .theme-toggle .star-3 {
  width: 4px;
  height: 4px;
  background: #FFF;
  left: 9px;
  top: 5px;
  box-shadow: -0.5px 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

.theme-toggle-input:checked + .theme-toggle .star-4 {
  width: 3.5px;
  height: 3.5px;
  background: #FFF;
  left: 11.5px;
  top: 5.5px;
  box-shadow: -0.5px 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

.theme-toggle-input:checked + .theme-toggle .star-5 {
  width: 15px;
  height: 4px;
  border-radius: 4px;
  background: #FFF;
  left: 7.5px;
  bottom: 5px;
  box-shadow: none;
}

.theme-toggle-input:checked + .theme-toggle .star-6 {
  width: 4.5px;
  height: 4.5px;
  background: #FFF;
  border-radius: 50%;
  left: 9.5px;
  bottom: 5px;
  box-shadow: -0.5px 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

.theme-toggle-input:checked + .theme-toggle .star-7 {
  width: 6px;
  height: 6px;
  background: #FFF;
  border-radius: 50%;
  left: 13px;
  bottom: 5px;
  box-shadow: -0.5px 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

.theme-toggle-input:checked + .theme-toggle .star-8 {
  width: 5.5px;
  height: 5.5px;
  background: #FFF;
  border-radius: 50%;
  left: 17.5px;
  top: 15px;
  box-shadow: -0.5px 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }
  
  25% {
    transform: translateX(1px);
  }
  
  100% {
    transform: translateX(-1px);
  }
}
